.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
}

.contacts {
	margin-top: 5px;
}

a{
	color: white;
	text-decoration: none;
	flex-grow: 1;
}

.banner {
	display: flex;
	justify-content: space-around;
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

img{
	max-width: 150px;
	max-height: 155px;
	border-radius: 50%;
}
.image{
	width: 100%;
}

.summary {
	width: 100%;
	background-color: #263547;
	padding: 5px;
	margin-top: 10px;
}

.big {
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 8px;
	margin-top: 8px;
}

.medium {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: 4px;
}

.text-white{
	color: white
}

.text-gray{
	color: #525252
}

.text-center{
	text-align: center;
}

.education-title, .skills-title, .career-title, .projects-title, .responsibilities, .contacts-title {
	width: 100%
}

.education-details, .skills-details, .contacts-details {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.degree, .skill, .link {
	background-color: #263547;
	color: white;
	margin: 5px;
	padding: 4px;
	flex-grow: 1;
	border-radius: 10px;
}

.designation {
	background-color: #263547;
	width: 100%;
	padding: 4px;
	display: flex;
	align-items: center;
	margin-right: 5px;
}

@media only screen and (min-width: 600px){
	.image{
		width: 25%;
		margin: 0px;
	}
	.contacts-skills-education{
		width: 30%;
		box-sizing: border-box;
		padding: 5px;
		padding-top: 80px;
		background-color: lightgray;
	}
	.career-projects{
		width: 70%;
		box-sizing: border-box;
		padding: 5px;
		padding-left: 14px;
	}
	.summary{
		box-sizing: border-box;
		width: 70%;
		padding-top: 5px !important;
	}
	.degree, .skill, .link {
		flex-grow: 1;
	}
	.responsibilities{
		width: 100%
	}
	.banner {
		height: 100px;
		background-color: #263547;
		margin-bottom: 0px;
		justify-content: flex-end;
		position: relative;
	}
	.summary{
		height: 100px;
		padding: 0px;
		margin: 0px;
	}
	.image {
		position: absolute;
		padding-top: 5px;
		top: 10px;
		left: 5%;
	}
	.designation{
		width: auto;
	}
	.education-title, .skills-title, .contacts-title {
		text-align: center;
	}

	.contacts-details, .skills-details, .education-details {
		flex-direction: column;
	}
}

@media only screen and (min-width: 850px){
	.container {
		border: 2px solid gray;
	}
	.image {
		left: 6%;
	}
}

.timeline {
	margin-left: auto;
}

.projects-title {
	margin-bottom: 0px;
}

.projects li {
	margin-bottom: 4px;
}

.project-name {
	background-color: #263547;
	color: white;
	padding: 5px;
	border-radius: 10px;
}

.projects {
	line-height: 1.5;
}
