html{
    scroll-behavior: smooth;
}    

body {
    font-family: Montserrat;
    margin: 0px;
}

img{
    width: 100%;
}

.img a {
    padding: 0px;
}

h1 {
    margin: 0px;
    font-size: larger;
    max-width: 870px;
    padding-top: inherit;
}

.links{
    display: flex;
    flex-direction: column;
}

.header-container{
    padding: 1.5em;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color: #F64C27;
    padding: 0.5em;
    color: white;
    font-weight: 800;
}

.name {
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.hero {
    text-align: center;;
    background-color: cornflowerblue;
    padding: 0.5em;
    font-weight: 800;
    font-size: 40px;
    color: white;
}

#skillset {
    color: white;
    padding-top: 1em;
}

.summary-container, .career-container {
    padding: 2em;
    position: relative;
}

.summary-container .title{
    text-align: center;
}

.summary-container .title, .skillset-container .title, .career-container .title {
    color: #F64C27;
    font-weight: 800;
    padding-bottom: 1em;
    text-align: center;
}

.summary-container .desc, .summary-container .phone-view-desc {
    color: 2F2FA2;
    font-weight: 800;
    padding-bottom: 1em;
}

.summary-container .desc {
    display: none;
}

.skillset-container {
    margin-top: -100px;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: cornflowerblue;
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;
}

.skillset-container .skill-desc{
    padding: 1em;
    margin: 1em;
    background-color: white;
    border-radius: 20px;
}

.company {
    text-decoration: underline;
    text-underline-offset: 0.25em;
    text-decoration-color: #F64C27;
}

.skill-desc .category, .job-desc .company{
    padding-bottom: 0.5em;
    color: #2F2FA2;
    font-weight: 800;
}

.career-container .desc{
    background-color: 252582;
    border-radius: 20px;
    margin-top: 1.5em;
    padding: 2em;
}

.desc .responsibilities {
    color: white;
}

.job-desc {
    font-weight: bold;
    padding-top: 1em;
}

ul li, .languages {
    font-weight: normal;
    font-size: 14px;
}

.contacts-container{
    padding: 0m;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#email {
    display: flex;
    align-items: center;
}

#email span {
    padding-left: 0.5em;
}

@media only screen and (min-width: 800px) {
    .summary-container .phone-view-desc {
        display: none;
    }
    .summary-container .desc {
        display: block;
        margin-top: 1em;
    }
    .summary-container .desc div{
        margin-bottom: 1.5em;
    }
    .links{
        flex-direction: row;
    }
    .hero{
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
    .hero h1{
        text-align: left;
        flex: 2
    }
    .skill-desc{
        flex:1;
        padding: 3em !important;
    }
    .summary-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .summary-grid .desc{
        flex: 1;
        padding-top: 0.5em;
    }
    .summary-grid .img{
        flex: 2
    }
    .skill-grid{
        display: flex;
        justify-content: space-around;
    }
    .skillset-container{
        margin-top: -60px;
        padding-top: 60px;
    }
    .summary-container .title{
        text-align: center;
    }
    .skillset-container .title, .career-container .title {
        text-align: left;
    }
    #skillset{
        padding-left: 1em;
    }
}

* {
    transition: background-color 1s ease-in-out;
}

#dark-mode {
    border-radius: 10px;
    background-color: white;
    border: 0px;
    color: #F64C27;
    margin-right: 0.5em;
}

.dark .header-container, .dark .summary-container, .dark .skill-desc, .dark .career-container {
    background-color: black;
}
.dark .hero, .dark .skillset-container, .dark .contacts-container {
    background-color: gray;
}
.dark .desc, .dark .languages, .dark .job-desc, .dark .company, .dark .phone-view-desc {
    color: white;
    text-decoration-color: #F64C27;
}
.dark .summary-container, .dark .title, .dark .skill-desc, .dark .category{
    color: #F64C27;
}
.dark .img {
    filter: brightness(0.75)
}
